<p id="notice"><%= notice %></p>
<div class="first">
<%= render 'nave'%>

    
<h1> Posts</h1>


    <% @posts.each do |post| %>
    
        <div class="box">
         <div class="box1">
        
       <p> <%= post.title %></p>
     </div>
        
       <p> <%= post.body %></p>
      
     </div>
    <% end %>
    
    </div>
