// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.first{
    padding-top: 100px;
}

.txt{
    padding-top: 5px;
    padding-right: 100px;
}