nav a {
  text-decoration: none;
}

.last{
    width :100%;
    
}

.dec{
    text-decoration : none;
}

.link{
    float : left;
    
}

h1 {
    text-align : center;
}
.mid {
    text-align : center;
}
.title{
    padding-top: 100px;
}
.title1{
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px white;
    text-decoration: none;
    
}
p{
   font-weight: bold;
}
li{
  font-weight: bold;  
}
.sort{
     text-shadow: 1px 1px 2px black;
}
button{
    text-decoration: none;
}


.soc2{
     background-image: url("https://image.flaticon.com/icons/svg/174/174848.svg" );
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    background-size: 50px 50px ;
    
   
    
    padding-bottom: 100px;
     padding-left: 60px;
    
}
.soc3{
     background-image: url("https://image.flaticon.com/icons/svg/174/174855.svg" );
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    background-size: 40px 40px ;
    
  
    padding-bottom: 50px;
     padding-left: 60px;
}
.soc4{
     background-image: url("https://image.flaticon.com/icons/svg/174/174876.svg" );
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    background-size: 40px 40px ;
    
  
    padding-bottom: 50px;
     padding-left: 60px;
}
a{
   text-decoration: none; 
    
}





