// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.first{
    padding-top: 100px;
   
}
.box{
    border: 1px solid;
    font-family: "Times New Roman", Times, serif;
     background-color: #dce4f2;
     border-radius: 0 3px 3px 0;
}

.box1{
    display : inline;
}